@import '@/styles/variables';
@import '@/styles/mixin';

.imageWrapper {
  position: relative;
  display: flex;
  width: linear-clamp(363, 700);
  height: linear-clamp(270, 525);
  overflow-x: auto;
  scroll-snap-type: x mandatory;

  &::after {
    position: absolute;
    right: 10px;
    bottom: 0;
    font-size: 40px;
    font-weight: bold;
    color: $colorBlack;
    content: '…';
    animation: fadeInOut 1.5s infinite alternate;
  }
}

@keyframes fadeInOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0.3;
  }
}

.image {
  flex-shrink: 0;
  width: inherit;
  height: auto;
  scroll-snap-align: center;
  object-fit: cover;
}
