@import '@/styles/mixin';
@import '@/styles/variables';

.topView {
  @include xl {
    height: 80vh;
  }
}

.whiteBackground {
  padding-block: linear-clamp(30, 116) 64px;
  margin-top: 84px;
  background-color: $colorWhite;
}
