@import '@/styles/mixin';
@import '@/styles/variables';

.hero {
  position: fixed;
  inset: 0 0 auto;
  z-index: 100;
  padding-inline: linear-clamp(25, 70);
}

.topView {
  @include xl {
    height: 80vh;
  }
}

.whiteBackground {
  padding-block: linear-clamp(30, 116) 64px;
  margin-top: 84px;
  background-color: $colorWhite;
}

.process {
  @include lg {
    width: linear-clamp(375, 1300);
    margin-inline: auto;
  }
}

.processTitle {
  margin-top: linear-clamp(60, 90);
  text-align: center;

  @include lg {
    text-align: left;
  }
}

.processSubTitle {
  margin-top: linear-clamp(30, 111);
  text-align: center;

  @include lg {
    text-align: left;
  }
}

.processDescription {
  margin-block: linear-clamp(20, 50) linear-clamp(100, 220);
}

.footer {
  padding-block: linear-clamp(30, 140) 120px;
}
