@import '@/styles/variables';
@import '@/styles/mixin';

.container {
  display: flex;
  flex-direction: column;
  row-gap: linear-clamp(12, 20);
  align-items: center;
  font-family: $mainFontJP;
  color: $colorBlack;
}

.title {
  font-size: linear-clamp(14, 30);
  font-weight: bold;
  letter-spacing: calc(14px * $letterSpacingKanji);
}

.text {
  width: linear-clamp(230, 625);
  font-size: linear-clamp(12, 22);
  font-weight: normal;
  text-align: center;
  letter-spacing: calc(12px * $letterSpacingKana);
}

.price {
  font-size: linear-clamp(30, 40);
  font-weight: bold;
  letter-spacing: calc(30px * $letterSpacingNumber);
}

@include pcStyle {
  .container {
    align-items: flex-start;
  }

  .text {
    text-align: left;
  }
}
