@import '@/styles/variables';
@import '@/styles/mixin';

.button {
  padding: linear-clamp(10, 33) linear-clamp(25, 88);
  font-family: $mainFontJP;
  font-size: linear-clamp(14, 30);
  font-weight: bold;
  color: $subColor;
  letter-spacing: calc(14px * $letterSpacingKana);
  background-color: $learnMoreButtonColor;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.button:hover {
  color: $learnMoreButtonColor;
  background-color: $subColor;
  border: $learnMoreButtonColor 1px solid;
}
