@import '@/styles/variables';
@import '@/styles/mixin';

.button {
  display: block;
  padding: linear-clamp(10, 33) linear-clamp(25, 88);
  font-family: $mainFontJP;
  font-size: linear-clamp(14, 30);
  font-weight: bold;
  color: $colorWhite;
  background-color: $buttonColor;
  border-radius: 2px;
  transition: all 0.3s ease;

  @include letterSpacing8(14px);

  &:hover {
    color: $buttonColor;
    background-color: $colorWhite;
    border: $buttonColor 1px solid;
  }
}

.normal {
  width: linear-clamp(127, 336);
}

.price {
  width: linear-clamp(174, 458);
}
