@import '@/styles/mixin';
@import '@/styles/variables';

.container {
  position: relative;
  display: grid;
  grid-template:
    'reviewerWrapper reviewerWrapper' auto
    'slider model' auto
    'slider comment' auto / 52% 45%;
  column-gap: 10px;
  height: auto;
  margin: 0 auto;
  color: $colorBlack;

  @include pcStyle {
    grid-template:
      'model .' auto
      'slider reviewerWrapper' auto
      'slider comment' auto / 60% 40%;
    column-gap: 20px;
  }

  @include full {
    column-gap: 44px;
  }
}

.reviewerWrapper {
  grid-area: reviewerWrapper;
  width: 288px;
  margin-inline: auto;
  margin-bottom: linear-clamp(30, 40);
  font-family: $mainFontJP;
  text-align: left;

  @include pcStyle {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
    justify-content: end;
    width: 230px;
    margin: 0;
    white-space: pre-wrap;
  }

  @include full {
    width: 550px;
  }
}

.textWrapper {
  margin-top: 8px;
}

.title {
  font-size: linear-clamp(16, 35);
  white-space: pre-wrap;
}

.reviewer,
.craft {
  font-size: linear-clamp(12, 22);
  text-wrap: pretty;
}

.slider {
  position: relative;
  display: flex;
  grid-area: slider;
  gap: 8px;
  height: linear-clamp(259, 700);
}

.model {
  display: flex;
  grid-area: model;
  align-items: end;
  font-family: $subFontEN;
  font-size: 20px;
  font-weight: bold;
  text-align: left;
  text-wrap: pretty;
  white-space: pre-wrap;

  @include pcStyle {
    position: absolute;
    right: 250px;
    font-size: 25px;
    transform: rotate(-90deg) translateX(-30%);
  }

  @include full {
    right: 500px;
    font-size: linear-clamp(10, 60);
  }
}

.comment {
  display: flex;
  grid-area: comment;
  align-items: end;
  width: linear-clamp(153, 334);
  margin-bottom: 10px;
  font-size: linear-clamp(12, 22);

  @include pcStyle {
    align-items: normal;
    margin-top: linear-clamp(10, 20);
    margin-bottom: 0;
  }
}

.image {
  position: absolute;
  bottom: 0;
  transition: all ease-in 0.3s;
}
