@import '@/styles/mixin';
@import '@/styles/variables';

.container {
  display: grid;
  grid-template:
    'reviewerWrapper reviewerWrapper' auto
    'slider model' auto
    'slider comment' auto / 1fr 1fr;
  column-gap: 10px;
  margin: 0 auto;
  color: $colorBlack;

  @include pcStyle {
    grid-template:
      'model .' auto
      'slider reviewerWrapper' auto
      'slider comment' auto / 60% 40%;
    column-gap: 44px;
  }
}

.reviewerWrapper {
  grid-area: reviewerWrapper;
  width: linear-clamp(317, 530);
  margin-inline: auto;
  margin-bottom: linear-clamp(30, 40);
  font-family: $mainFontJP;
  text-align: left;

  @include pcStyle {
    display: flex;
    flex-direction: column-reverse;
    gap: 20px;
    justify-content: end;
    margin: 0;
  }
}

.textWrapper {
  margin-top: 8px;
}

.title {
  font-size: linear-clamp(16, 35);
}

.reviewer,
.craft {
  font-size: linear-clamp(12, 22);
}

.slider {
  position: relative;
  display: flex;
  grid-area: slider;
  gap: 8px;
  align-items: center;
  justify-content: center;
  height: linear-clamp(259, 700);
}

.model {
  display: flex;
  grid-area: model;
  align-items: end;
  font-size: linear-clamp(20, 60);
  font-weight: bold;
  text-align: center;

  @include pcStyle {
    text-align: left;
  }
}

.comment {
  display: flex;
  grid-area: comment;
  align-items: end;
  width: linear-clamp(153, 334);
  margin-bottom: 10px;
  font-size: linear-clamp(12, 22);

  @include pcStyle {
    align-items: normal;
    margin-top: linear-clamp(10, 20);
    margin-bottom: 0;
  }
}

.leftImage {
  position: absolute;
  bottom: 0;
  left: -23%;
  width: linear-clamp(74, 200);
  height: linear-clamp(117, 315);
}

.heroImage {
  position: absolute;
  right: 0;
  bottom: 0;
  width: linear-clamp(144, 448);
  height: linear-clamp(259, 700);
}
