@import '@/styles/mixin';
@import '@/styles/variables';

.container {
  position: relative;
  display: grid;
  grid-template:
    'reviewerWrapper reviewerWrapper' auto
    'slider model' auto
    'slider comment' auto / 52% 45%;
  column-gap: 10px;
  height: auto;
  margin: 0 auto;
  overflow: hidden;
  color: $colorBlack;

  @include lg {
    grid-template:
      'model .' auto
      'slider reviewerWrapper' auto
      'slider comment' auto / 60% 40%;
    column-gap: 20px;
  }

  @include xl {
    column-gap: 44px;
  }
}
