@import '@/styles/mixin';
@import '@/styles/variables';

.container {
  display: none;
  height: 100%;
}

@include responsive {
  .container {
    display: flex;
    column-gap: linear-clamp(5, 60);
    align-items: center;
    height: 100%;
  }

  .menuItem {
    display: flex;
    align-items: center;
    height: 100%;
  }

  .menuItem a {
    display: flex;
    align-items: center;
    height: 100%;
    padding: 0 linear-clamp(5, 15);
    font-size: linear-clamp(14, 24);
    color: $subBgColor;
    text-decoration: none;
  }

  .menuItem a:hover {
    opacity: 0.5;
    transition: all 0.3s;
  }
}
