@import '@/styles/variables';
@import '@/styles/mixin';

.heading {
  font-family: $mainFontEN;
  font-size: linear-clamp(20, 40);

  @include letterSpacing10(20px);
}

.colorWhite {
  color: $colorWhite;
}

.colorBlack {
  color: $colorBlack;
}
