@import '@/styles/variables';

.heading {
  font-family: $mainFontEN;
  font-size: linear-clamp(20, 40);
  letter-spacing: calc(20px * 0.09);
}

.colorWhite {
  color: $subBgColor;
}

.colorBlack {
  color: $mainBgColor;
}
