@import '@/styles/variables';
@import '@/styles/mixin';

.container {
  position: relative;
  display: flex;
  align-items: flex-end;
  max-width: 430px;
  height: linear-clamp(316, 500);
  margin: 0 auto;
  overflow: hidden;

  @include lg {
    max-width: 1400px;
    height: linear-clamp(450, 700);
  }

  @include xl {
    max-width: 1400px;
    height: linear-clamp(700, 800);
  }
}

.image {
  position: absolute;
  bottom: 0;
  object-fit: cover;
  transition: all ease-in 0.3s;
}

.imageWrapper {
  position: absolute;
  left: 426px;

  @include lg {
    left: 740px;
    max-width: 795px;
  }

  @include xl {
    position: static;
  }
}
