@import '@/styles/variables';
@import '@/styles/mixin';

@keyframes fade-in-up {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.container {
  margin: 0 auto;
}

.imageWrapper {
  position: relative;
  display: flex;
  align-items: flex-end;
  width: linear-clamp(600, 1400);
  height: linear-clamp(316, 800);
  overflow: hidden;
}

.image {
  bottom: 0;
  width: linear-clamp(75, 285);
  height: linear-clamp(125, 400);
  object-fit: cover;
  transition: all ease-in 0.3s;
}

.modelDetail {
  position: absolute;
  top: 0;
  left: 0;
  color: $colorBlack;
  opacity: 0;
  animation: fadeInUp 0.3s ease-in-out forwards;
}

.model {
  position: absolute;
  top: linear-clamp(100, 170);
  left: -30px;
  font-family: $subFontEN;
  font-size: linear-clamp(14, 60);
  letter-spacing: calc(14px * $textLetterSpacingEN);
  white-space: nowrap;
  opacity: 1;
  transform: rotate(-90deg);
}

.priceWrapper {
  position: absolute;
  top: linear-clamp(100, 250);
  left: linear-clamp(250, 830);
  font-size: linear-clamp(14, 40);
  letter-spacing: calc(14px * $letterSpacingKana);
  white-space: nowrap;
  opacity: 0;
  animation: fadeInUp 0.3s ease-in-out 0.3s forwards;
}

.a {
  position: absolute;
  left: 0;
  z-index: 0;
}

.b {
  position: absolute;
  left: linear-clamp(85, 300);
  z-index: 20;
  width: linear-clamp(155, 500);
  height: linear-clamp(300, 710);
}

.c {
  position: absolute;
  left: linear-clamp(250, 815);
  z-index: 20;
}

.d {
  position: absolute;
  left: linear-clamp(335, 1115);
  z-index: 10;
}

@include pcStyle {
  .container {
    max-width: linear-clamp(600, 1400);
  }

  .image {
    width: linear-clamp(110, 285);
  }

  .model {
    left: linear-clamp(0, 50);
    white-space: wrap;
  }

  .b {
    left: linear-clamp(125, 300);
    width: linear-clamp(225, 500);
  }

  .c {
    left: linear-clamp(360, 815);
  }

  .d {
    left: linear-clamp(480, 1115);
  }
}
