@import '@/styles/mixin';
@import '@/styles/variables';

.image {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  object-fit: cover;

  @include xl {
    object-fit: fill;
  }
}

@include lg {
  .image {
    height: 782px;
  }
}
