@import '@/styles/variables';
@import '@/styles/mixin';

.navMenu {
  position: absolute;
  inset: 0;
  background-color: $mainBgColor;
}

.top {
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 30px;
}

.navClose {
  position: absolute;
  top: 50%;
  right: linear-clamp(10, 20);
  padding: 10px 18px;
  background-color: $subBgColor;
  border-radius: 3px;
  transform: translate(-50%, -50%);
}

.navMenuList {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  align-items: center;
  margin-top: 30px;
}

.navMenuItem {
  width: 100%;
  font-family: $mainFontJP;
  font-size: 20px;
}

.link {
  display: block;
  width: 100%;
  text-align: center;
}
