@import '@/styles/variables';
@import '@/styles/mixin';

.container {
  display: inline-block;
}

.textWrapper {
  display: flex;
  justify-content: space-between;
  padding-inline: 15px 20px;
  font-size: 20px;
  white-space: nowrap;

  @include letterSpacing5(20px);

  @include lg {
    padding-inline: 15px 50px;
  }
}

.border {
  position: relative;
  width: 100%;
  height: 2px;
  margin-top: 5px;
  background-color: $colorWhite;
}

.border::before {
  position: absolute;
  top: -2px;
  left: -2px;
  width: 5px;
  height: 5px;
  content: '';
  background-color: $colorWhite;
  border-radius: 50%;
}
