@import '@/styles/variables';
@import '@/styles/mixin';

.container {
  display: flex;
  column-gap: linear-clamp(15, 60);
  align-items: center;
  justify-content: space-between;
  height: linear-clamp(67, 147);
}

.menu {
  display: flex;
  align-items: center;
  height: inherit;
  transition: all ease 0.7s;
}

.spNavMenu {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease-in-out;
  transform: translateX(100%);
}

.spNavMenu.open {
  height: 100vh;
  transform: translateX(0);
}

.spNavMenu.closed {
  transform: translateX(-100%);
}

.spMenu {
  padding: 5px 15px;
  font-size: linear-clamp(20, 24);
  color: $colorBlack;
  background-color: $colorWhite;
  border-radius: 1px;

  @include letterSpacing10(20px);
}

@include lg {
  .spMenu {
    display: none;
  }
}
