@import '@/styles/mixin';
@import '@/styles/variables';

.container {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 200px;

  @include lg {
    width: 100%;
  }
}

.fieldHeader {
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.label {
  font-size: linear-clamp(14, 20);
}

.required {
  padding: 4px;
  font-weight: bold;
  background-color: $answerColor;
  border-radius: 4px;
}

.input {
  max-width: linear-clamp(200, 500);
  padding: 5px 10px;
  background-color: $colorWhite;
}
