@import '@/styles/mixin';
@import '@/styles/variables';

.container {
  position: relative;
  display: flex;
  column-gap: 10px;
  padding-inline: 15px;
  overflow: scroll;
  scroll-snap-type: x mandatory;

  @include lg {
    gap: 0;
    justify-content: center;
    padding: 0;
  }

  &::before {
    position: absolute;
    top: 35%;
    right: 0;
    left: 0;
    z-index: -1;
    width: 200%;
    height: 100px;
    content: '';
    background-color: $answerColor;
    transform: translate(-50%, -50%);

    @include lg {
      top: 50%;
    }
  }
}

.remu {
  position: absolute;
  top: 35%;
  left: 50%;
  z-index: -1;
  width: 337px;
  height: 335px;
  object-fit: cover;
  transform: translate(-50%, -50%);

  @include lg {
    top: 50%;
    left: 40%;
    width: 337px;
    height: 500px;
  }
}
