@import '@/styles/mixin';
@import '@/styles/variables';

.container {
  position: relative;
  display: flex;
  column-gap: 20px;
  width: linear-clamp(342, 1600);
  padding-inline: 15px;
  margin-inline: auto;
  overflow: scroll;
  scroll-snap-type: x mandatory;
  background-color: $colorWhite;

  &::after {
    position: absolute;
    top: 65%;
    left: 53%;
    font-size: 40px;
    font-weight: bold;
    color: $colorBlack;
    content: '…';
    transform: translate(-50%, -50%);
    animation: fadeInOut 1.5s infinite alternate;
  }

  @include lg {
    top: 50%;
    gap: 0;
    justify-content: center;
    max-width: fit-content;
    padding: 0;
  }

  @keyframes fadeInOut {
    from {
      opacity: 1;
    }

    to {
      opacity: 0.3;
    }
  }
}
