@import '@/styles/variables';
@import '@/styles/mixin';

.topView {
  position: relative;
  padding-top: linear-clamp(75, 95);
  padding-bottom: linear-clamp(47, 80);
  margin-inline: auto;
  background-color: $colorWhite;

  &::before {
    position: absolute;
    top: 35%;
    right: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100px;
    content: '';
    background-color: $answerColor;

    @include lg {
      top: 47%;
      width: 100%;
    }
  }
}

.sectionTitle {
  width: linear-clamp(375, 1300);
  margin-inline: auto;
  text-align: center;

  @include lg {
    text-align: left;
  }
}

.cardButtonList {
  margin-top: linear-clamp(54, 30);
}

.craftCard {
  @include lg {
    padding-block: 140px 100px;
    padding-inline: linear-clamp(30, 50);
  }
}

.backGroundCarDrawer {
  background-color: $colorPureWhite;
}

.carDrawer {
  width: linear-clamp(350, 1400);
  padding-block: 45px 30px;
  margin-inline: auto;
}

.comments {
  padding: 20px 50px 15px 20px;
  font-size: 10px;
  font-weight: 100;
  color: $colorBlack;
  background-color: $colorPureWhite;

  @include lg {
    display: none;
  }
}

.craftTitle {
  width: linear-clamp(350, 1300);
  margin-inline: auto;
  margin-top: linear-clamp(62, 110);
}

.priceCardList {
  margin-top: linear-clamp(25, 68);

  @include lg {
    width: linear-clamp(340, 1300);
    margin-inline: auto;
  }
}

.craftDescription {
  display: flex;
  flex-direction: column;
  row-gap: linear-clamp(30, 76);
  margin-top: linear-clamp(20, 30);
}

.craftImageWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
  align-items: center;
  margin-top: linear-clamp(30, 45);

  @include lg {
    flex-direction: row;
    column-gap: linear-clamp(100, 200);
    justify-content: left;
    width: linear-clamp(340, 1300);
    margin-inline: auto;
  }
}

.craftImage {
  width: linear-clamp(350, 655);
  height: linear-clamp(181, 367);
  margin-inline: auto;
  object-fit: cover;

  @include lg {
    margin: 0;
  }
}

.ratingText {
  text-align: center;
}
