@import '@/styles/variables';
@import '@/styles/mixin';

.button {
  display: inline-block;
  padding: linear-clamp(10, 33) linear-clamp(25, 88);
  font-family: $mainFontJP;
  font-size: linear-clamp(14, 30);
  font-weight: bold;
  color: $colorWhite;
  white-space: nowrap;
  background-color: $buttonColor;
  border-radius: 2px;
  transition: all 0.3s ease-in;

  @include letterSpacing8(14px);

  &:hover {
    color: $buttonColor;
    background-color: $colorWhite;
    outline: $buttonColor 1px solid;
  }
}
