@import '@/styles/variables';
@import '@/styles/mixin';

.container {
  text-align: center;
}

.menu {
  display: flex;
  flex-direction: column;
  font-size: linear-clamp($fontSizeSmall, $fontSizeLarge);

  @include letterSpacing15($fontSizeSmall);

  @include pcStyle {
    flex-direction: row;
    column-gap: 60px;
    justify-content: center;
  }
}

.footerNav {
  a {
    display: inline-block;
    padding: 8px 20px;
  }
}
