@import '@/styles/variables';
@import '@/styles/mixin';

.container {
  text-align: center;
}

.menu {
  display: flex;
  flex-direction: column;
  font-size: linear-clamp(14, 24);

  @include letterSpacing15(14px);

  @include lg {
    flex-direction: row;
    column-gap: 60px;
    justify-content: center;
  }
}

.footerLink {
  display: inline-block;
  padding: 8px 20px;
}
