@import '@/styles/variables';
@import '@/styles/mixin';

.container {
  font-family: $mainFontJP;
  font-weight: normal;
  text-align: center;
}

.menu {
  display: flex;
  flex-direction: column;
  font-size: linear-clamp(14, 24);
  text-align: center;
  letter-spacing: calc(14 * $letterSpacingKanji);

  @include pcStyle {
    flex-direction: row;
    column-gap: 60px;
    justify-content: center;
  }
}

.navMenu {
  a {
    display: inline-block;
    padding: 8px 20px;
  }
}

.logoLink {
  display: inline-block;
  padding: 8px 20px;
  text-align: center;
}
