@import '../../../../styles/variables';
@import '../../../../styles/mixin';

.button {
  padding: px 20px;
  font-family: $mainFontJP;
  font-size: 14px;
  font-weight: bold;
  color: $subColor;
  letter-spacing: calc(14px * 0.09);
  background-color: $learnMoreButtonColor;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.button:hover {
  color: $learnMoreButtonColor;
  background-color: $subColor;
  border: $learnMoreButtonColor 1px solid;
}

@include responsive {
  .button {
    padding: $linear-clamp;
    font-size: $linear-clamp;
  }
}
