@import '../../../../styles/variables';
@import '../../../../styles/mixin';

.button {
  padding: 9.5px 20px;
  font-family: $mainFontJP;
  font-size: 14px;
  font-weight: bold;
  color: $subBgColor;
  letter-spacing: calc(14px * 0.09);
  background-color: #4b6583;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.button:hover {
  color: #4b6583;
  background-color: $subBgColor;
  border: #4b6583 1px solid;
}

@include responsive {
  .button {
    padding: 33.5px 88.5px;
    font-size: 30px;
  }
}
