@import '@/styles/mixin';
@import '@/styles/variables';

.title {
  position: relative;
  z-index: 2;
  font-size: linear-clamp(20, 52);
  text-align: center;
}

.container {
  position: relative;
  width: 100%;
  padding: linear-clamp(60, 150) 0;
  overflow: hidden;
  background: url('/assets/form/bg.jpg') no-repeat;
  background-size: contain;

  &::before {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100vw;
    height: 100vh;
    content: '';
    background-color: $colorBlack;
    opacity: 0.55;
  }

  @include lg {
    padding-left: linear-clamp(70, 140);
  }
}

.form {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 500px;
  padding-block: linear-clamp(30, 50) 64px;
  font-size: linear-clamp(14, 20);
  color: $colorWhite;

  @include lg {
    align-items: start;
  }
}

.input {
  max-width: linear-clamp(200, 500);
  padding: 5px 10px;
  background-color: $colorWhite;
}

.flex {
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.inputWrapper {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
  width: 200px;

  @include lg {
    width: 100%;
  }
}

.label {
  font-size: linear-clamp(14, 20);
}

.required {
  padding: 4px;
  font-weight: bold;
  background-color: $answerColor;
  border-radius: 4px;
}

.marginTop {
  margin-top: linear-clamp(20, 30);
}

.checkBoxContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-width: linear-clamp(200, 500);
  margin-top: 30px;
}

.checkBox {
  width: 20px;
  height: 20px;
}

.size {
  font-size: linear-clamp(10, 20);
  white-space: nowrap;
}

.checkBoxLabel {
  display: flex;
  column-gap: 4px;
  align-items: center;
  width: 100%;
  max-width: linear-clamp(95, 240);
  padding: 4px 20px;
  color: $colorBlack;
  background-color: $colorWhite;

  @include lg {
    padding: 10px 20px;
  }
}

.selected {
  width: 100%;
  max-width: linear-clamp(200, 500);
  color: $colorBlack;
  appearance: auto;
  background-color: $colorWhite;
  border: solid 1px $colorWhite;
}

.textArea {
  max-width: linear-clamp(200, 500);
  padding: 10px;
  background-color: $colorWhite;
}

.submit {
  width: linear-clamp(200, 500);
  padding: 5px;
  color: $colorWhite;
  background-color: $colorOrange;
  border-radius: 5px;
}
