@import '@/styles/variables';
@import '@/styles/mixin';

.container {
  position: relative;
  height: 100vh;
}

.titleLogoWrap {
  position: absolute;
  top: 31%;
  left: 50%;
  z-index: 40;
  line-height: linear-clamp(42, 65);
  text-align: center;
  transform: translate(-50%, -50%);

  @include lg {
    top: 19%;
    left: 65px;
    display: flex;
    flex-flow: column;
    row-gap: 15px;
    text-align: left;
    transform: translate(0);
  }

  @include xl {
    left: 0;
  }
}

.title {
  font-size: linear-clamp(26, 40);

  @include letterSpacing8(26px);

  white-space: nowrap;
}

.image {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  object-fit: cover;
}

.imageSecondary,
.imageVisible {
  width: 100%;
  transition: width 0.7s ease-in;

  @include lg {
    width: linear-clamp(375, 1098);
  }
}

.imageVisible {
  z-index: 30;
}

.imageSecondary {
  z-index: 20;
}

.imageHidden {
  z-index: 10;
  width: 0;
}

@include lg {
  .container {
    max-width: linear-clamp(600, 1400);
    height: linear-clamp(750, 1000);
    margin: linear-clamp(67, 147) auto 0;
  }

  .image {
    height: 782px;
  }

  .title {
    @include letterSpacing11(40px);
  }
}
