@import '@/styles/variables';
@import '@/styles/mixin';

.line {
  display: flex;
  column-gap: 10px;
  align-items: center;
}

.icon {
  width: linear-clamp(40, 80);
  height: linear-clamp(40, 80);
}

.guide {
  font-size: linear-clamp(14, 18);
  letter-spacing: calc(16px * 0.05);
}

.green {
  font-weight: 700;
  color: #1ada29;
}

@include pcStyle {
  .line {
    grid-row: 1 / 3;
    grid-column: 2;
    align-self: stretch;
  }
}
