@import '@/styles/mixin';
@import '@/styles/variables';

.navMenuList {
  display: flex;
  flex-direction: column;
  row-gap: 50px;
  align-items: center;
  margin-top: 30px;
}

.navMenuItem {
  width: 100%;
  font-family: $mainFontJP;
  font-size: 20px;

  a {
    display: block;
    width: 100%;
    text-align: center;
  }
}

@include responsive {
  .spMenu {
    display: none;
  }
}
