@import '@/styles/variables';
@import '@/styles/mixin';

.container {
  display: flex;
  flex-direction: row-reverse;
  column-gap: linear-clamp(70, 200);
  justify-content: center;
  color: $colorWhite;
  white-space: nowrap;
}

.title {
  display: block;
  max-height: linear-clamp(370, 700);
  font-size: linear-clamp(22, 40);
  color: $verticalColor;

  @include letterSpacing58(24px);

  writing-mode: vertical-rl;
  text-orientation: upright;
}

.spacing {
  display: block;
  text-align: end;
}

.text {
  padding-top: 15px;
  font-size: linear-clamp(14, 30);

  @include letterSpacing58(14px);

  writing-mode: vertical-rl;
  text-orientation: upright;
}

.paragraph {
  line-height: linear-clamp(29, 60);
}

@include lg {
  .text {
    padding: 0;
  }
}
