@import '@/styles/mixin';
@import '@/styles/variables';

.wrapper {
  display: flex;
  column-gap: 25px;
  padding-inline: linear-clamp(50, 140);
  overflow: scroll;
  color: $colorBlack;

  /**
  中途半端なところでスクロールが止まらないようにするCSSだお
   */
  scroll-snap-type: x mandatory;

  @include pcStyle {
    flex-wrap: wrap;
    row-gap: 50px;
    justify-content: space-between;
    width: linear-clamp(350, 1400);
    padding: 0;
    margin-inline: auto;
  }
}
