@import '@/styles/mixin';
@import '@/styles/variables';

.fixedBottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
}

.vertical {
  margin-block: 30px linear-clamp(100, 160);
}

.whiteBackGround {
  background-color: $colorWhite;
}

.sectionTitle {
  width: linear-clamp(375, 1400);
  margin-inline: auto;
  text-align: center;

  @include lg {
    text-align: left;
  }
}

.access {
  width: linear-clamp(375, 1400);
  padding-top: linear-clamp(60, 150);
  margin-inline: auto;
}
