@import '@/styles/mixin';
@import '@/styles/variables';

.fixedBottom {
  position: fixed;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 99;
}

.vertical {
  margin-block: 30px linear-clamp(100, 160);
}

.whiteBackGround {
  background-color: $colorWhite;
}

.sectionTitle {
  width: linear-clamp(375, 1400);
  margin-inline: auto;
  text-align: center;

  @include lg {
    text-align: left;
  }
}

.faq {
  display: flex;
  flex-direction: column;
  width: linear-clamp(375, 1400);
  margin-inline: auto;
  margin-top: 37px;

  @include lg {
    flex-direction: row;
    margin-top: linear-clamp(200, 354);
  }
}

.faqContainer {
  margin-top: 50px;

  @include lg {
    margin-top: 0;
  }
}

.faqTitle {
  @include lg {
    padding-top: 100px;
  }
}

.access {
  width: linear-clamp(375, 1400);
  padding-top: linear-clamp(60, 150);
  margin-inline: auto;
}
