@import '@/styles/variables';
@import '@/styles/mixin';

.container {
  display: none;

  @include lg {
    display: flex;
    justify-content: space-around;
    color: $colorBlack;
  }
}

.model {
  @include lg {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: $subFontEN;
    font-size: linear-clamp(20, 50);
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    direction: rtl;

    @include letterSpacing10(30px);
  }
}

.image {
  @include lg {
    width: linear-clamp(300, 1250);
    height: auto;
  }
}
